body{
margin:0;
background: url('../images/island.gif');
}
h1{
margin-top:20px;
font-family: 'Fredericka the Great', cursive;
color:white;
text-align:center;
}
p{
color:white;
text-align:center;
}
h5{
color:white;
text-align:center;
}
.right{
text-align:right;
}
.logincontainer{
margin-top:200px;
}
.login{
text-align:center
}
.signin{
height:55px;
padding-left: 10px;
padding-top:5px;
border: 2px solid #fff;
}
.signin span{
padding-left:60px;
padding-top:5px;
display:inline-block;
color:#fff;
background:url('../images/twitter.png') no-repeat;
}
.signin:hover{
border: 2px solid #6ACFF4;
padding-left:10px;
padding-top:5px;
display:inline-block;
}
.signin:hover span{
color:#6ACFF4;
}
.logout{
border: 1px solid #6ACFF4;
color:#6ACFF4;
}